<!DOCTYPE html>

{% load staticfiles %} <!-- always below doctype at the top of the file-->

<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says... </h1>
        <div>
            welcome to the about page! <br/>
            <strong>{{boldmessage}}</strong><br/>
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static 'images/rangocactus.jpg' %}"
                alt="Picture of Rango"/>
        </div>
        <p>This tutorial has been put together by Mr Adam M Deeley</p>
    </body>
</html>