<!DOCTYPE html>

{% load staticfiles %} <!-- always below doctype at the top of the file-->

<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>Rango says... </h1>
        <div>
            hey there partner! There are no categories present.<br/>
            <strong>{{boldmessage}}</strong><br/>
        </div>
        <div>
            
            <strong>{{rango1}}</strong><br/>
            <strong>{{rango2}}</strong><br/>
            <strong>{{rango3}}</strong><br/>
            <strong>{{rango4}}</strong><br/>
        </div>
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/rango.jpg' %}"
                alt="Picture of Rango"/>
        </div>
    </body>
</html>